PRODUCT_CATALOG_LAMBDA_URL=
CARTSERVICE_LAMBDA_URL=
SHIPPING_LAMBDA_URL=

# General configuration
PORT=8080
LISTEN_ADDR=0.0.0.0
BASE_URL=

# Branding and UI
FRONTEND_MESSAGE="Welcome to our store!"
CYMBAL_BRANDING=false
BANNER_COLOR=

# Platform
ENV_PLATFORM=local

# Observability
ENABLE_TRACING=0
ENABLE_PROFILER=0
COLLECTOR_SERVICE_ADDR=localhost:4317
