# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example

# Go
bootstrap
deployment.zip
*.exe
*.test
*.out
vendor/

# Environment
.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
